@font-face {
	font-family: Manrope;
	src: url('./Manrope-Regular.ttf');
}

body {
	font-family: Manrope; 
    margin: 0;   /* Remove body margins */
}

.maindiv {
	max-width:600;
	text-align:left;
	background-color: #F8F8F8;
  	border-radius: 8px;
  	padding: 8px 8px;
	border-color: #16181C;
}